.home-table{
    border: none;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}
.home-table th{
    background-color: #1ebe89;
    color: white;
    padding-left: 130px;
    gap: 100px;
}

.song-header button{
  margin-left: 500px;
  border: 2px black solid;
  border-radius: 8px;
  width: 40px;
}
.song-content{
  padding-top:30px ;
}
.song-name{
  padding-top: 0px;
  position: relative;
  left: 240px;
  text-align: center;
}
.rate{
  padding-top: 0px;
  position: absolute;
  left: 1200px;
  text-align: center;
  
}
.song-cover{
  position: relative;
  left: 60px;
  padding: 0px;
  text-align: center;
}
.song-date{
  position: absolute;
  left: 650px;
  padding: 0px;
  text-align: center;
}
.artist-name{
  position: absolute;
  left:980px;
  padding: 0px;
  text-align: center;
}
.data{
  padding: 20px;
}
.label1{
  padding: 100px;
}
.label2{
  padding: 86px;
  margin-top: 10px;
}
.label3{
  padding: 116px;
}
label.label4{
  padding: 110px;
  margin-top: 10px;
}
.song-footer{
  flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-footer button{
  width: 100px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.input-date {
  margin-top: 10px;
}
.input-type{
margin-top: 10px;
}
